<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daokoujinke.mapper.TEltTestOutMapper">
  <resultMap id="BaseResultMap" type="com.daokoujinke.entity.TEltTestOut">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="EstaTime" jdbcType="INTEGER" property="estatime" />
    <result column="RegCapital" jdbcType="VARCHAR" property="regcapital" />
    <result column="ManageState" jdbcType="VARCHAR" property="managestate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company_name, EstaTime, RegCapital, ManageState
  </sql>
  <select id="selectByExample" parameterType="com.daokoujinke.entity.TEltTestOutExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_elt_test_out
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_elt_test_out
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_elt_test_out
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daokoujinke.entity.TEltTestOut">
    insert into t_elt_test_out (id, company_name, EstaTime, 
      RegCapital, ManageState)
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{estatime,jdbcType=INTEGER}, 
      #{regcapital,jdbcType=VARCHAR}, #{managestate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.daokoujinke.entity.TEltTestOut">
    insert into t_elt_test_out
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="estatime != null">
        EstaTime,
      </if>
      <if test="regcapital != null">
        RegCapital,
      </if>
      <if test="managestate != null">
        ManageState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="estatime != null">
        #{estatime,jdbcType=INTEGER},
      </if>
      <if test="regcapital != null">
        #{regcapital,jdbcType=VARCHAR},
      </if>
      <if test="managestate != null">
        #{managestate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daokoujinke.entity.TEltTestOutExample" resultType="java.lang.Long">
    select count(*) from t_elt_test_out
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_elt_test_out
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.estatime != null">
        EstaTime = #{record.estatime,jdbcType=INTEGER},
      </if>
      <if test="record.regcapital != null">
        RegCapital = #{record.regcapital,jdbcType=VARCHAR},
      </if>
      <if test="record.managestate != null">
        ManageState = #{record.managestate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_elt_test_out
    set id = #{record.id,jdbcType=INTEGER},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      EstaTime = #{record.estatime,jdbcType=INTEGER},
      RegCapital = #{record.regcapital,jdbcType=VARCHAR},
      ManageState = #{record.managestate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daokoujinke.entity.TEltTestOut">
    update t_elt_test_out
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="estatime != null">
        EstaTime = #{estatime,jdbcType=INTEGER},
      </if>
      <if test="regcapital != null">
        RegCapital = #{regcapital,jdbcType=VARCHAR},
      </if>
      <if test="managestate != null">
        ManageState = #{managestate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daokoujinke.entity.TEltTestOut">
    update t_elt_test_out
    set company_name = #{companyName,jdbcType=VARCHAR},
      EstaTime = #{estatime,jdbcType=INTEGER},
      RegCapital = #{regcapital,jdbcType=VARCHAR},
      ManageState = #{managestate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>